<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/header') %>
    <title><%= pageTitle %> - <%= topicName %></title>
  </head>
  <body>
    <main>
      <div class="container mt-5">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/topics">Topics</a></li>
            <li class="breadcrumb-item"><a href="/topics/<%= topicId %>"><%= topicName %></a></li>
            <li class="breadcrumb-item active"><%= pageTitle %></li>
          </ol>
        </nav>
        <h1><%= pageTitle %></h1>
        <div class="card mb-4">
          <div class="card-body">
            <div class="exercises">
              <% exercises.forEach(function(exercise) { %>
                <%- include(`../components/exercises/${exercise.type}`, { exercise }) %>
              <% }); %>
            </div>
          </div>
        </div>
        <%- include('../components/exercise_navigation', { topicId, currentPage, totalPages }) %>
      </div>
    </main>
    <script src="/js/exercise_validation.js"></script>
    <script>
      const exercises = <%- JSON.stringify(exercises) %>;
    </script>
    <%- include('../partials/footer') %>
  </body>
</html>